<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyun.laboratorymanagement.dao.ImageDao">
    <select id="findAll" resultType="Image">SELECT * FROM image</select>
    <select id="getById" resultType="Image">SELECT * FROM image WHERE id=#{id}</select>
    <select id="getByImg" resultType="Image">SELECT * FROM image WHERE img=#{img}</select>
    <insert id="addImg">INSERT INTO image (img) VALUES (#{img}) </insert>
</mapper>